@use 'sass:color';

:root {
  /*
  USAGE:

  Regular:
  `color: var(--success-600),`

  With opacity:
  `color: rgba(var(--success-600-rgb), 0.15),`

  */
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  opacity: 0 !important;
}
